

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
!.vscode/tasks.json
# Compiled output
# IDEs and editors
# Miscellaneous
# Node
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# System files
# Visual Studio Code
# project
*.launch
*.sublime-workspace
.DS_Store
.angular/
.c9/
.classpath
.history/*
.idea/
.project
.sass-cache/
.settings/
.vscode/*
/.angular/cache
/bazel-out
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/src/app/core/api/generated/*.ts
/src/app/core/api/swagger.json
/tmp
/typings
Thumbs.db
__screenshots__/
dist/
node_modules/
npm-debug.log
playwright-report/
proxy.local.conf.json
test-results/
testem.log
yarn-error.log
